<nav class="agri-nav">
  <div class="nav-container">
    
    <ul class="nav-links">
      <li><a href="landing">Home</a></li>
      <li><a href="/allblogs">Blogs</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
